return {
          keyword: '',
          categoryKeyword: '',
          formURL: 'https://www.yahoo.co.jp/',
          Cells: [
            {
                userId: 1,
                userHashTag: '#3322',
                userMetaName: ['かつき', 'ににまる', 'まんちょ'],
                userName: 'かつき',
                platform: [
                    {
                        platformId: Platform.Services.Twitch.serviceId,
                        platformName: Platform.Services.Twitch.text,
                        hasAccount: true,
                        isBroadCasting: false,
                        displayTextContent: '@220niconico',
                        accountUserName: 'いちまる',
                        accountURL: 'https://www.twitch.tv/infinity_mkds',
                        accountIconImageURL: ''
                    },
                    {
                        platformId: Platform.Services.Twitch.serviceId,
                        platformName: Platform.Services.Twitch.text,
                        hasAccount: true,
                        isBroadCasting: false,
                        displayTextContent: '@220niconico',
                        accountUserName: 'ににまる',
                        accountURL: 'https://www.twitch.tv/infinity_mkds',
                        accountIconImageURL: ''
                    }
                ]
            },
            {
                userId: 2,
                userHashTag: '#8729',
                userMetaName: ['笑原心恋', '心恋', 'ここ'],
                userName: '心恋(ここ)',
                platform: [
                    {
                        platformId: Platform.Services.OpenREC.serviceId,
                        platformName: Platform.Services.OpenREC.text,
                        hasAccount: true,
                        isBroadCasting: true,
                        displayTextContent: '@2525coco',
                        accountUserName: 'ここ',
                        accountURL: 'https://www.twitch.tv/infinity_mkds',
                        accountIconImageURL: ''
                    }
                ]
            },
            {
                userId: 3,
                userHashTag: '#2891',
                userMetaName: ['ねむこ'],
                userName: 'ねむこ',
                platform: [
                    {
                        platformId: Platform.Services.YouTubeLive.serviceId,
                        platformName: Platform.Services.YouTubeLive.labe,
                        hasAccount: true,
                        isBroadCasting: false,
                        displayTextContent: '@nemuko',
                        accountUserName: 'ねむこ＠へるぷ垢',
                        accountURL: 'https://www.twitch.tv/infinity_mkds',
                        accountIconImageURL: ''
                    }
                ]
            },
          ],
      }






    created() {
        // itemの作成
        for (let i = 1; i <= 8500; i++) {
            var r = Math.floor( Math.random() * 10 ) + 1;
            var random = Math.floor( Math.random() * 1000 ) + 100;
            var id  = Platform.Services.Twitch.serviceId;
            var name = Platform.Services.Twitch.label;

            if ( i % 15 == 0 ) {
              id = Platform.Services.Twitcasting.serviceId;
              name = Platform.Services.Twitcasting.label;
            } else if ( i % 12 == 0 ) {
              id = Platform.Services.Whowatch.serviceId;
              name = Platform.Services.Whowatch.label;
            } else if ( i % 9 == 0 ) {
              id = Platform.Services.LINEOpenChat.serviceId;
              name = Platform.Services.LINEOpenChat.label;
            } else if ( i % 5 == 0 ) {
              id = Platform.Services.Twitter.serviceId;
              name = Platform.Services.Twitter.label;
            } else if ( i % 3 == 0 ) {
              id = Platform.Services.NowStreaming.serviceId;
              name = Platform.Services.NowStreaming.label;
            } else if ( i % 2 == 0 ) {
              id = Platform.Services.Instagram.serviceId;
              name = Platform.Services.Instagram.label;
            } else {
              id = Platform.Services.YouTubeLive.
              name = Platform.Services.YouTubeLive.label;
            }

            this.Cells.push(
              {
                  userId: i,
                  userHashTag: '#' + r + random,
                  userMetaName: ['青', 'あお', '2'],
                  userName: 'dfghyjuikol',
                  platform: [
                      {
                          platformId: id,
                          platformName: name,
                          hasAccount: true,
                          isBroadCasting: false,
                          displayTextContent: '@nemuko',
                          accountUserName: 'aa',
                          accountURL: 'https://www.twitch.tv/infinity_mkds',
                          accountIconImageURL: ''
                      }
                  ]
              }
            );
        }
    },